# Eclipse
.classpath
.project
.metadata
.settings/

# Intellij
.idea/
out/
*.iml
*.iws

# Mac
.DS_Store

# Gradle
build/
gradle/
.gradle/
gradlew
gradlew.bat

# Java
*.class
*.jar
*.war
*.ear

# Grails
buildPlugins/