<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suites">
    <test name="TestSuites">
        <groups>
            <run>
                <include name="fast"/>
                <exclude name="slow"/>
            </run>
        </groups>
        <classes>
            <class name="N46T_TestSuites"/>
        </classes>
    </test>
</suite>